#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  gap: 20px;

  background-color: darkslategrey;
  color: white;

  font-size: 1.3rem;
}

.pokemon {
  box-sizing: content-box;
  border: 1px solid black;
  border-radius: 10px;

  min-height: 125px;
  min-width: 100px;

  background-color: rgb(28, 50, 50);
}

.pokemon:hover {
  border: 1px solid gold;
  cursor: pointer;
}

.sprite {
  height: 150px;
  width: 150px;
}

.title {
  font-size: 1.1rem;
}

.scores {
  margin-top: 20px;
}

.cards {
  margin-top: 10px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

header p {
  font-size: 1.1rem;
}
