#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  gap: 20px;

  background-color: darkslategrey;
  color: white;

  font-size: 1.3rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
  border: 1px solid black;
  border-radius: 10px;

  min-height: 200px;
  min-width: 175px;

  background-color: rgb(28, 50, 50);
}

.pokemon:hover {
  border: 1px solid gold;
  cursor: pointer;
}

.sprite {
  height: 150px;
  width: 150px;
}

.title {
  font-size: 1.1rem;
}

.scores {
  margin-top: 20px;
}

.cards {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

header p {
  font-size: 1.1rem;
}


/* for flipping animation */

.pokemon {
  perspective: 1000px;
}

.pokemon-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}


.pokemon.shuffling .pokemon-inner {
  transform: rotateY(180deg);
}

.pokemon-front,
.pokemon-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-front {
  background-color: rgb(28, 50, 50);
}

.pokemon-back {
  background-color: rgb(28, 50, 50);
  transform: rotateY(180deg);
}